@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gold: #F5D9A5;
}

body{
    font-family: 'Varela', sans-serif;
}

a{
    text-decoration: none;
}

/* Coffee title with underline */
.title__text{
    font-size: 1rem;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    color: black;
    border-bottom: 1px solid var(--gold);
    width: fit-content;
    margin-left: 5px;
    text-transform: capitalize;
}