@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: #293241;
    --orange: #EE6C4D;
    --light-blue: #E0FBFC;
    --blue: #98C1D9;
    --dark-blue: #3D5A80;
    --grey: rgb(247, 247, 247);
}

body{
    font-family: 'Varela', sans-serif;
    color: var(--dark);
}

a{
    text-decoration: none;
}

.second__headline{
    margin-bottom: 1rem;
    font-size:1.7rem;
}

/* Coffee title with underline */
.title__text{
    font-size: 1rem;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    color: var(--dark);
    border-bottom: 2px solid var(--blue);
    width: fit-content;
    margin-left: 5px;
    text-transform: capitalize;
}

/* COFFEE CARD */
.coffee__link{
    width: 100%;
    height: 300px;
    position: relative;
    background-color: rgb(245, 245, 245);
    /* background-color: var(--light-blue); */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
}

.coffee__link img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
}

.coffee__link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
}

.coffee__link:hover::before{
    background-color: rgba(0, 0, 0, 0);
}

.coffee__link p{
    color: var(--dark);
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0.4rem 0;
    margin-left: 5px;
}