.coffee__container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 8vh;
}

.coffee__page img{
    width: 100%;
    height: 40vh;
    object-fit:cover;
    margin-bottom: 1rem;
}

.coffee__info .coffee__name{
    color: var(--dark);
    font-size: 2rem;
}

.coffee__page .coffee__instructions{
    display: flex;
}

.coffee__text{
    width: 50%;
    margin-bottom: 1rem;
}

.coffee__info{
    margin-bottom: 1rem;
}

.coffee__info .country{
    background: var(--light-blue);
    color: var(--dark);
    padding: 5px 10px;
    margin-right: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
    text-transform: capitalize;
}
.coffee__info .type{
    border: solid 1px var(--light-blue);
    color: var(--dark);
    padding: 5px 10px;
    margin-right: 0.5rem;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
    text-transform: uppercase;
}

.coffee__info h1{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* COFFEE INFORMATION */
.page__container{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 66% 34%;
}

@media(max-width:800px){
    .coffee__info,
    .page__container{
        padding:1rem;
    }

    .page__container{
        display: grid;
        grid-template-columns:1fr;
    }
}