.recommended__container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

@media(max-width:1200px){
    .recommended__container{
        padding: 5rem 1rem 0 1rem;
    }
}
@media(max-width:800px){
    .recommended__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:500px){
    .recommended__container{
        grid-template-columns: 1fr;
    }
}