.share__container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin: 2rem 0;
}

.share__container h4{
    color: #ccc;
    font-weight: 300;
}

.share__container .social__btn{
    border: none;
    padding: 0.2rem;
    background-color: var(--grey);
    margin: 0 0.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.share__container .social__btn:hover{
    background-color: var(--light-blue);
}

.share__container .social__btn a,
.share__container .copy__btn{
    color: #ccc;
    font-size: 1.3rem;
}